<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="/static/style.css" media="screen and (min-width: 850px)" rel="stylesheet" type="text/css"/>
        <link href="/static/style_mobile.css" media="screen and (max-width: 851px)" rel="stylesheet" type="text/css"/>
        <title> Wybory 2000: {{ title }}</title>
    </head>
    <body>
        <h2> Wyniki wyborów 2000 roku </h2>
        <h2> {{ title }} </h2>
        {% block content %}
        {% endblock %}
    </body>
</html>
