{% extends 'base.html' %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
google.load('visualization', '1', {'packages': ['geochart']});
google.charts.load('current', {'packages':['corechart']});

google.setOnLoadCallback(drawMarkersMap);
//google.charts.setOnLoadCallback(drawChart);

function slugify(text)
{
    str = text.toString().toLowerCase()
        .replace(/\s+/g, '-')           // Replace spaces with -
        .replace(/\-\-+/g, '-')         // Replace multiple - with single -
        .replace(/^-+/, '')             // Trim - from start of text
        .replace(/-+$/, '');            // Trim - from end of text
    // remove accents, swap ñ for n, etc
    var from = "ąężźóćłśń/_,:;";
    var to   = "aezzoclsn-----";
    for (var i=0, l=from.length ; i<l ; i++) {
        str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
    }
    return str;
}

function drawMarkersMap() {
    {% autoescape off %}
    var jsonData = `{{ data }}`
    {% endautoescape %}

    var data = new google.visualization.DataTable(jsonData);

    var options = {
        region: 'PL',
        dataMode: 'regions',
        displayMode: 'regions',
        resolution: 'provinces',
        legend: 'none',
        enableRegionInteractivity: 'true',
        sizeAxis: {minSize:5,  maxSize: 5},
        colorAxis: {colors: ['#0B2762']}
    };

    var chart = new google.visualization.GeoChart(document.getElementById('map_chart'));

    google.visualization.events.addListener(chart, 'select', function () {
        var selection = chart.getSelection();
        if (selection.length > 0) {
            window.location = './' + slugify(data.getValue(selection[0].row, 0));
        }
    });

    chart.draw(data, options);
};


function drawChart() {
    var data = new google.visualization.DataTable(jsonData);

    var options = {
        title: 'Głosy'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
};

</script>

    <div class="general_stats">
        <p>
        Uprawnionych: {{ region_info.getVoters }}
        </p>
        <p>
        Kart ważnych: {{ region_info.getBallots }}
        </p>
        <p>
        Frekwencja: {{ region_info.turnout | floatformat:"-2" }}%
        </p>
    </div>

    <div id="charts">

        <div id="map_chart"></div>

        <div class="responsive_hide">
            <div class="chart">
                {% for stat in candidates_stats %}
                <div class="bar_wrap">
                    <div class="bar" style="height: {{ stat.2 }}%;">
                        <div>
                            {{ stat.1 | floatformat:"-2" }}%
                        </div>
                    </div>
                    <div class="legend">
                        {{ stat.0 }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="desktop_hide">
            <div class="chart">
                {% for stat in candidates_stats %}
                <div class="bar_wrap">
                    <div class="bar" style="width: {{ stat.2 }}%;">
                        <div>
                            {{ stat.1 | floatformat:"-2" }}%
                        </div>
                    </div>
                    <div class="legend">
                        {{ stat.0 }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <table>
        <tr>
            <th>
                {{ unit }}
            </th>
            <th>
                Statystyka
            </th>
            <th class="responsive_hide">
                Uprawnionych
            </th>
            <th class="responsive_hide">
                Kart ważnych
            </th>
            <th>
                Frekwencja
            </th>
        </tr>
        {% for w in regions_data %}
        <tr>
            <td>
                <a href="{{ w.path }}">{{ w.name }}</a>
            </td>
            <td>
                <div class="horizontal_bar_chart">
                    {% for bar in w.bar %}
                    <div class="horizontal_bar_element" style="background-color: {{ bar.2 }}; flex-grow: {{ bar.1 }};">
                        <div class="horizontal_bar_tooltip">
                            {{ bar.0 }}
                            {{ bar.1 | floatformat:"-2" }}%
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </td>
            <td class="responsive_hide">
                {{ w.getVoters }}
            </td>
            <td class="responsive_hide">
                {{ w.getBallots }}
            </td>
            <td>
                {{ w.turnout | floatformat:"-2" }}%
            </td>
        </tr>
        {% endfor %}

    </table>

    {% endblock %}
