<h1> Welcome to dmesg analyser </h2>
<ul>
    <li>
        <a href="{% url 'dblabapp:upload_text' %}">Upload log text</a>
    </li>
    <li>
        <a href="{% url 'dblabapp:upload_file' %}">Upload log file</a>
    </li>
    <li>
        <a href="{% url 'dblabapp:list_drivers' %}">View all drivers</a>
    </li>
    <li>
        <a href="{% url 'dblabapp:list_sessions' %}">View all recorded sessions</a>
    </li>
    <li>
        <a href="{% url 'dblabapp:compare_choose' %}">Compare two sessions</a>
    </li>
</ul>
