{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<style type="text/css">
td
{
    padding:0 25px 0 15px;
}

.blue_entry 
{
    color: #0D3D56;
}

.red_entry
{
    color: #C02F1D;
}

</style>

<h1>Comparison of session {{session_1_info}} (in blue) and {{session_2_info}} (in red) </h1>

<table>
    <tr>
        <th>Session</th>
        <th>Time</th>
        <th>Driver</th>
        <th>Message</th>
    </tr>
    {% for entry in entries_list %}
    <tr class={% if entry.logSession == session_1 %}"blue_entry" {% else %}"red_entry"{% endif %}>
        <td> {{entry.logSession}} </td>
        <td> {{entry.time}} </td>
        <td> {{entry.driver}} </td>
        <td> {{entry.message}} </td>
    </tr>
    {% endfor %}

</table>


