<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>

<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="/static/style.css" media="screen and (min-width: 850px)" rel="stylesheet" type="text/css"/>
        <link href="/static/style_mobile.css" media="screen and (max-width: 851px)" rel="stylesheet" type="text/css"/>
        <title> Wybory 2000: Gmina {{ title }} </title>

        {% include "client_render/templates.html" %}

        <script language="javascript">

function initSockets() {
    socket = new WebSocket("ws://" + window.location.host + "/");
    socket.onmessage = function(e) {
        requestDataFromServer();
    }
    if (socket.readyState == WebSocket.OPEN) socket.onopen();
}


var title = "Gmina {{ title }}";
var pk = {{ pk }};
var gmina_data = null;
var path = window.location.pathname;


function checkAndFillGminaData() {
    if (gmina_data) {
        var context = {'data' : gmina_data};
        var html = general_stats_template.render(context);
        $('#general_stats_container').html(html);
    }
}

function requestDataFromServer() {
    $.getJSON("/api/gmina/" + pk, function(data) {
        gmina_data = data;
        localStorage.setItem(path + '_gmina', JSON.stringify(gmina_data));
        checkAndFillGminaData();
    });
}

function checkAndFillAllData() {
    checkAndFillGminaData();
}

function restoreCache() {
    gmina_data = JSON.parse(localStorage.getItem(path + '_gmina', null));
}

$(function() {
    var context = {title: title};
    var html    = header_template.render(context);
    $('#header_container').html(html);
    restoreCache();
    checkAndFillAllData();
    requestDataFromServer();
    initSockets();
});

        </script>
    </head>
    <body>
        {% include "client_render/login_header.html" %}
        {% include "client_render/search_header.html" %}
        <div id="header_container">
        </div>

        <a href="./edit">Edytuj</a>

        <div id="general_stats_container">
        </div>
    </body>
</html>
