<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="/static/style.css" media="screen and (min-width: 850px)" rel="stylesheet" type="text/css"/>
        <link href="/static/style_mobile.css" media="screen and (max-width: 851px)" rel="stylesheet" type="text/css"/>
        <title> Wybory 2000: Cały kraj</title>

        {% include "client_render/templates.html" %}

        <script src="/static/kraj.js"></script>
    </head>

    <body>
        {% include "client_render/login_header.html" %}
        {% include "client_render/search_header.html" %}
        <div id="header_container">
        </div>

        <div id="general_stats_container">
        </div>

        <div id="wojewodztwo_table_container">
        </div>
    </body>

</html>
