<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="/static/style.css" media="screen and (min-width: 850px)" rel="stylesheet" type="text/css"/>
        <link href="/static/style_mobile.css" media="screen and (max-width: 851px)" rel="stylesheet" type="text/css"/>
        <title> Wybory 2000: Cały kraj</title>

        {% include "client_render/templates.html" %}

        <script language="javascript">

var title = 'Cały kraj'
var wojewodztwo_set_data = null;
var kraj_data = null;
var path = window.location.pathname;


function checkAndFillWojewodztwoSetData() {
    if (wojewodztwo_set_data) {
        var context = {'unit': 'Województwo', 'data': wojewodztwo_set_data};
        var html = stats_table_template.render(context);
        $('#wojewodztwo_table_container').html(html);
    }
}

function checkAndFillKrajData() {
    if (kraj_data) {
        var context = {'data' : kraj_data};
        var html = general_stats_template.render(context);
        $('#general_stats_container').html(html);
    }
}

function requestDataFromServer() {
    $.getJSON("api/wojewodztwo", function(data) {
        wojewodztwo_set_data = data;
        localStorage.setItem(path + '_wojewodztwo_set', JSON.stringify(wojewodztwo_set_data));
        checkAndFillWojewodztwoSetData();
    });
    $.getJSON("api/kraj/", function(data) {
        kraj_data = data[0];
        localStorage.setItem(path + '_kraj', JSON.stringify(kraj_data));
        checkAndFillKrajData();
    });
}

function checkAndFillAllData() {
    checkAndFillKrajData();
    checkAndFillWojewodztwoSetData();
}

function restoreCache() {
    wojewodztwo_set_data = JSON.parse(localStorage.getItem(path + '_wojewodztwo_set', null));
    kraj_data = JSON.parse(localStorage.getItem(path + '_kraj', null));
}

$(function() {
    var context = {title: title};
    var html    = header_template.render(context);
    $('#header_container').html(html);
    restoreCache();
    checkAndFillAllData();
    requestDataFromServer();
});

        </script>
    </head>
    <body>
        {% include "client_render/login_header.html" %}
        {% include "client_render/search_header.html" %}
        <div id="header_container">
        </div>

        <div id="general_stats_container">
        </div>

        <div id="wojewodztwo_table_container">
        </div>
    </body>
</html>
